          <div class= "media">
                <div class= "media-bocy">
                    <h4 class="media-heading">
                    <%= link_to wiki.title, wiki %> 
                    </h4>       

                </div>
            </div>