          <div class= "media">
                <div class= "media-bocy">
                    <h4 class="media-heading">
                    <%= link_to wiki.title, wiki %>   |   <%= wiki.user.name %>
                    </h4>      
                    <% if wiki.private? %>
                    <%# render partial: "collaborators/collaborator",  locals: {collaborators: wiki.collaborators} %>
                    <% end %>
                </div>
            </div>