<div class="jumbotron text-center"><h1>WIKI LIST</h1></div>


<div class="row">
    <div class="col-md-8">
            <% @wikis.each do |topic| %>   
            <% if !topic.private? %>
            <div class= "media">
                <div class= "media-bocy">
                    <h4 class="media-heading">
                    <%= link_to topic.title, topic %>   |  posted by: <%= topic.user.name%>
                    </h4>       
                    <small> 
                    <%= topic.body %>
                    </small>
                </div>
            </div>
            <% end %>
        <% end %>    
    </div>
        
    

</div>