
<h1> <%= @wiki.title %> </h1>
 <p><%= @wiki.body %></p>
<%= link_to "Update", edit_wiki_path, class: "btn btn-success" %>
<%= link_to "DELETE", @wiki, method: :delete, class: "btn btn-danger", data: { confirm: "are you sure you want to delete this?"} %>

fix show